.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  z-index: 999;
}

.splash-logo {
  font-size: 2.5rem;
  font-weight: 500;
}

.splash-text {
  font-size: 1.1rem;
  color: #777;
  margin-top: 0.5rem;
}